body{
    padding: 0;
    margin: 10px;
}

.default td{
    border: 1px solid rgba(16,76,167,.25);
    background: rgba(90,156,255,.25);
    text-align: left;
    padding: 10px;
    font-family: Raleway,sans-serif;
    font-size: 1.2em;
    line-height: 2.2em;
}

.default th {
    padding: .2em .8em;
    border: 1px solid rgba(20,50,90,.25);
    background: rgba(0,102,255,.25);
    text-align: center;
}

.a  { font-family: "Times New Roman", Times, serif; }
.b  { font-family: Arial, Helvetica, sans-serif; }

.a  { font-style: normal; }
.b  { font-style: italic; }
.c  { font-style: oblique; }

.a  { font-variant: normal; }
.b  { font-variant: small-caps; }

.a  { font-weight: normal; }
.b  { font-weight: bold; }
.c  { font-weight: 600; }

.a  { font-size: 20px; }
.b  { font-size: 2em; }
.c  { font-size: xx-small; }
.d  { font-size: small; }
.e  { font-size: 250%; }

/* ---------------- */

.centro{
    text-align: center;
}

.tabla-centro{
    border: 1px solid rgb(207, 193, 193);
    border-radius: 1%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgb(227, 227, 243);
    padding: 10px;
}

.tabla-centro th{
    font-family: 'Sassy Frass', cursive;
    border: 1px solid rgb(207, 193, 193);
    font-size: 160%;
    background-color: rgb(239, 228, 228);
    padding: 10px 0px;
}

.tabla-centro td{
    border: 1px solid rgb(207, 193, 193);
    font-size: 120%;
    background-color: rgb(198, 201, 198);
    padding: 40px 10px;
}
/* ----------------------------------- */