body{
    padding: 0;
    margin: 10px;
}

.default td{
    border: 1px solid rgba(16,76,167,.25);
    background: rgba(90,156,255,.25);
    text-align: left;
    padding: 10px;
    font-family: Raleway,sans-serif;
    font-size: 1.2em;
    line-height: 2.2em;
}

.default th {
    padding: .2em .8em;
    border: 1px solid rgba(20,50,90,.25);
    background: rgba(0,102,255,.25);
    text-align: center;
}